<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" alt="" width="183.62" height="
50">
      </a>
      <button type="button" class="btn btn-warning">Upload Your Document</button>
    </div>
  </nav>

  <div class="container-fluid d-flex flex-column h-100">
    <div class="row flex-grow-1 mt-5">
      <div class="col-3">
      </div>
      <div class="col-6 text-center align-self-center">
        <div class="col-md-auto text-center text-light">
          <h1>
            Get A Free Policy Optimization
          </h1>
          <h3 class="text-muted">
            Upload Your Document Here
          </h3>
        </div>
      </div>
      <div class="col-3">
      </div>
    </div>
    <form action="/preview" method="post">
      <div class="row flex-grow-1 mt-4">
        <div class="col-3">
        </div>
        <div class="col-6 text-center align-self-center">
          <div class="col-md-auto text-center text-light">
            <input type="file" src="upload.png" width="130" height="130" alt="">
          </div>
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row flex-grow-1 mt-4">
        <div class="col-4">
        </div>
        <div class="col-4 text-center align-self-center">
          <button type="submit" class="btn btn-warning">Upload Your Document To Get Analysis</button>
        </div>
        <div class="col-4">
        </div>
      </div>
    </form>
    <div class="row flex-grow-1 mt-4">
      <div class="col-4">
      </div>
      <div class="col-4 text-center align-self-center">
        <img src="images/footer_image.png" class="img-fluid" width="245" height="260">
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <!-- <footer class="text-center mt-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm"><img src="footer_image.png" width="295" height="310"></div>
          <div class="col-sm"></div>
        </div>
      </div>
  </div>
  </footer> -->
  <script src="app.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
