body,
html {
    height:100%;
    background-color: #0A1931;
}
._model{
    background-color: #c6c6c6;
}
._analysis{
    background-color: #0A1931;
}
.bottom {
    align-self: flex-end;
}
#preloader
{
    background: #000 url('../images/demo.gif') no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
