body,
html {
    height:100%;
    background-color: #0A1931;
}
._model{
    background-color: #c6c6c6;
}
._analysis{
    background-color: #0A1931;
}
.bottom {
    align-self: flex-end;
}
#preloader
{
    background: #000 url('../static/demo.gif') no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.slider 
    {
      width: 65%;
      height: 16px;
      border-radius: 14px;
      outline: none;
    }
    .text
    {
      color: #fff;
    }
textarea
{
  height:100vh;
  width:80%;
}

		.semi-donut
		{
			margin-left: 12%;
			width: 300px;
			height: 150px;
			position: relative;
			color: #fff;
			font-size: 20px;
			display: flex;
			align-items: flex-end;
			justify-content:center;
			box-sizing: border-box;
			overflow: hidden;
			--percentage: 0;
			--fill: #fff;
		}
		.semi-donut::after
		{
			content: '';
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			width: 300px;
			height: 300px;
			border: 50px solid;
			border-color: #fff #fff var(--fill) var(--fill);
			border-radius:50%;
			transform: rotate( calc(1deg * (-45 + var(--percentage) * 1.8)));
		}
