<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
  <script>
    var data = result.items();
    console.log(data);
  </script>
</head>
<body>
  <div id="preloader"></div>
  <div class="container-fluid d-flex flex-column h-100">
    <div class="row align-items-center text-center">
      <div class="col-8 _model px-0 py-3">
        <img src="{{ url_for('static', filename='logo.png')}}" class="mb-2" alt="" width="183.62" height="
60">
        <div class="container _model">
          <img id="diplay_image" src="input_image" class="img-fluid" width="610" alt="">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body _analysis" height="450">
            {% for key, value in result.items() %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ key }}</li>
                <li class="list-group-item">{{ value }} </li>
<!--                 <li class="list-group-item">A third item</li> -->
              </ul>
            {% endfor %}    
            <p class="card-text my-5 text-light">Click the button below to fix your Privacy Policy</p>
            <a href="#" class="btn btn-warning">Fix My Privacy Policy</a>
          </div>
        </div>

        <img src="{{ url_for('static', filename='footer_image.png')}}" class="img-fluid " width="245" height="260">
      </div>
    </div>
  </div>
  <script src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  var loader = document.getElementById("preloader");
    setTimeout(function () {
      loader.style.display = "none";
    }, 2000);
</body>

</html>
