<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
</head>
<body>
  <div id="preloader"></div>
  <div class="container-fluid d-flex flex-column h-100">
    <div class="row align-items-center text-center">
      <div class="col-8 _model px-0 py-3">
        <img src="{{ url_for('static', filename='logo.png')}}" class="mb-2" alt="" width="183.62" height="
60">
        <div class="container _model">
          <textarea id="pdftext">{{pdfdata}}</textarea>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body _analysis" height="450">
	      <div id="arch"></div>
              <h3 class="text" id="output">{{finalOuput}}</h3>
              <input class="slider"><br>
              <label class="text">Parameter1</label><br>
              <input class="slider"><br>
              <label class="text">Parameter2</label><br>
              <input class="slider"><br>
              <label class="text">Parameter3</label><br>
              <input class="slider"><br>
              <label class="text">Parameter4</label>   
            <p class="card-text my-5 text-light">Click the button below to fix your Privacy Policy</p>
            <a href="{{ url_for('static', filename='suggestion.html')}}" class="btn btn-warning">Fix My Privacy Policy</a>
            <p style="color:#fff" id="suggestion" hidden="true">{{suggestions}}</p>
          </div>
        </div>
        <img src="{{ url_for('static', filename='footer_image.png')}}" class="img-fluid " width="245" height="260">
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
  var loader = document.getElementById("preloader");
    setTimeout(function () {
      loader.style.display = "none";
    }, 3000);
    </script>
  <script type="text/javascript">
    var text_all =document.getElementById('pdftext').textContent; 
    console.log(text_all);
    var suggest = document.getElementById('suggestion').textContent;
    var getData = 
    {
      "suggestion":suggest,
      "pdfdata":text_all,
    }
    localStorage.setItem('dataKey',JSON.stringify(getData));
    var elements = document.querySelectorAll('.slider');
    var output=document.getElementById("output").textContent;;
    var color ="#fff";
    if(output>=1 && output < 6)
		{
			color = "#f00";
		}
    else if(output>=6 && output < 12)
    {
      color="#f90";
    }else if(output >=12 && output <=18)
    {
      color="#46cb02";
    }
    for(var i=0; i < elements.length; i++) 
    {
      if(color=="#f00")
      {
        var randomNumber = Math.floor(Math.random() * (35 - 0 + 1) + 0);
      }else if(color=="#f90")
      {
        var randomNumber = Math.floor(Math.random() * (65 - 36 + 1) + 36);
      }else
      {
        var randomNumber = Math.floor(Math.random() * (99 - 67 + 1) + 67);
      }
      elements[i].style.backgroundImage = `linear-gradient(to right, ${color} ${randomNumber}%, rgba(0,0,0,0) 0%)`;
    }
    const element = document.getElementById('arch');
		degree = output*5;
		element.innerHTML = `<div class="semi-donut" style="--percentage:${degree};--fill:${color}">Output</div>`;
  </script>
</body>

</html>
